<section id="castcrewsearch-view" class="mainbar">
  <form class="form-group">
    <div ng-repeat="name in vm.names track by $index">
      <input class="form-control" ng-model="vm.names[$index]">
      <button type="button" class="btn" ng-click="(vm.names.length != 1) && vm.names.splice($index,1)"><i class="fa fa-remove"></i></button> 
      <button type="button" class="btn" ng-click="vm.names.push('')" ng-show="$index == vm.names.length - 1">New Person</button>
    </div>
    <button class="btn" ng-click="vm.findMovies()">hi</button>
  </form>
  <div class="container">
    <custom-table data="vm.movies" columns="vm.movieTableColumns" search="true" poster="false"></custom-table>
  </div>
</section>
