<section id="castcrewsearch-view" class="mainbar">
  <form class="form-group">
    <!-- <div ng-repeat="name in vm.names track by $index">
      <input class="form-control" ng-model="vm.names[$index]">
      <button type="button" class="btn" ng-click="(vm.names.length != 1) && vm.names.splice($index,1)"><i class="fa fa-remove"></i></button>
      <button type="button" class="btn" ng-click="vm.names.push('')" ng-show="$index == vm.names.length - 1">New Person</button>
    </div>
    <button class="btn" ng-click="vm.findMovies()">hi</button> -->
    <!-- <label>People:</label> -->
    <h1 style="text-align:center">Search for Movies by Cast or Crew</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group" style="text-align:center">
          <ui-select multiple tagging ng-model="vm.names">
            <ui-select-match placeholder="Enter people...">{{$item}}</ui-select-match>
            <ui-select-choices repeat="person in (vm.people | filter: $select.search | limitTo: 50)">
            </ui-select-choices>
          </ui-select>
          <span class="input-group-addon" id="trash" ng-click="vm.clearPeople()"><i class="fa fa-trash" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <form novalidate>
        <div class="col-md-12" style="text-align:center">
          <button type="submit" class="btn btn-success" ng-click="vm.findMovies()">Submit</button>
        </div>
      </form>
    </div>
  </form>
  <div class="container">
    <custom-table data="vm.movies" columns="vm.movieTableColumns" search="true" poster="false"></custom-table>
  </div>
</section>
