<section id="castcrewsearch-view" class="mainbar">
  <style>
    #trash {
      cursor: pointer;
    }

    #trash:hover {
      background-color: #ac2925;
    }
  </style>
  <form class="form-group">
    <h1 style="text-align:center">Search for Movies by Cast or Crew</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group" style="text-align:center">
          <ui-select multiple tagging ng-model="vm.names">
            <ui-select-match placeholder="Enter people...">{{$item}}</ui-select-match>
            <ui-select-choices repeat="person in []">
            </ui-select-choices>
          </ui-select>
          <span class="input-group-addon" id="trash" ng-click="vm.clearPeople()"><i class="fa fa-trash" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <form novalidate>
        <div class="col-md-12" style="text-align:center">
          <button type="submit" class="btn btn-success" ng-click="vm.findMovies()">Submit</button>
        </div>
      </form>
    </div>
  </form>
  <div class="container">
    <custom-table data="vm.movies" columns="vm.movieTableColumns" search="true" poster="false"></custom-table>
  </div>
</section>
