<style>
  .fa-undo:hover {
    color: #888;
  }
</style>
<div class="container">
  <div class="row" ng-if="vm.data">
    <div class="col-offset-4 col-md-4" ng-if="vm.search">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="Search..." ng-model="vm.searchData" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-offset-11 col-md-1">
      <span class="fa fa-undo fa-2x" aria-hidden="true" style="cursor: pointer;" ng-click="vm.resetTable()"></span>
    </div>
  </div>
</div>


<table class="table table-hover table-bordered table-stripped" ng-if="vm.data">
  <thead>
    <tr>
      <th ng-if="vm.poster">
        Poster
      </th>
      <th ng-repeat="column in vm.columns">
        <a href="#" ng-click="vm.sortType = column; vm.sortReverse = !vm.sortReverse;">
          {{column.replace('_', ' ') | titleCase}}
          <span ng-show="vm.sortType == column && !vm.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="vm.sortType == column && vm.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in vm.data | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchData" ng-click="vm.goToDataDetail(data)">
      <td style="text-align:center;" ng-if="vm.poster">
        <img src="{{data.poster_path | poster}}" style="width: 80%; height: 20%" />
      </td>
      <td ng-repeat="col in vm.columns">
        {{data[col] | decimalFilter}}
      </td>
    </tr>
  </tbody>
</table>
