<section id="searchpeople-view" class="mainbar">
  <style>
    .jumbotron {
      background-image: url("src/client/images/curtain2.jpg");
      background-repeat: no-repeat;
      text-align: center;
      height: 35vh;
      background-size: 100% 100vh;
      align: center;
      vertical-align: middle;
    }

    .swag {
      background-image: url("src/client/images/curtain2.jpg");
      background-repeat: no-repeat;
      text-align: center;
      height: auto;
      background-size: 100% 100vh;
      align: center;
      vertical-align: middle;
    }
  </style>
  <div class="jumbotron">
    <div class="container">
      <h1 style="color: white;">Search for Cast and Crew by Name!</h1>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-search"></i>
              </div>
              <input type="text" class="form-control" placeholder="Enter a Name..." ng-model="vm.search"/>
            </div>
            <button type="submit" class="btn btn-success" ng-click="vm.queryNames()">Submit</button>
            <label>Limit:</label>
            <input type="number" ng-model="vm.limit" placeholder="Limit results..."/>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
    <div class="container" ng-show="vm.name">
      <div class="row">
        <h2 style="text-align: center;">Results ({{vm.name.length}})</h2>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-md-offset-2 col-md-8">
          <custom-table data="vm.name" columns="vm.nameTableColumns" search="true" poster="true"></custom-table>
        </div>
      </div>
    </div>
  </div>
</section>
